@model AdminViewModel
@{
    ViewData["Title"] = "Plakalar";
}
@section Styles {
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='/lib/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='/lib/fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href="~/lib/fullcalendar/timegrid/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/list/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/bootstrap/main.css" />

}
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Randevu Detay</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input hidden id="apointmentId" />
                    <div class="row">
                        <div class=" col-md-2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Adınız : </label>
                            <input disabled id="inputName" type="text" class="form-control " />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Soyadınız : </label>
                            <input disabled id="inputSurname" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Randevu Başlangıç Tarihi : </label>
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <input disabled id="inputStartDate" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" />
                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Randevu Bitiş Tarihi : </label>
                            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                <input disabled id="inputEndDate" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" />
                                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Araba Modelini Giriniz : </label>
                            <input disabled id="inputCarName" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Model Yılı : </label>
                            <input disabled id="inputCarModel" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Telefon Numaranız : </label>
                            <input disabled id="inputPhoneNumber" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label">İl : </label>
                            <input disabled id="inputil" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Plakanız : </label>
                            <input disabled id="inputPlaka" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Eklemek İstediğiniz Açıklamayı Buraya Giriniz. : </label>
                            <input disabled id="inputDescription" type="text" class="form-control" />
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">

                <div class="form-group col-md-6">
                  
                </div>


            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Randevu Detayları</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input hidden id="apointmentId" />
                    <div class="row">
                        <div class=" col-md-2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Adınız : </label>
                            <input disabled id="inputNameDetail" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Soyadınız : </label>
                            <input disabled id="inputSurnameDetail" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Randevu Başlangıç Tarihi : </label>
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <input disabled id="inputStartDateDetail" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" />
                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Randevu Bitiş Tarihi : </label>
                            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                <input disabled id="inputEndDateDetail" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" />
                                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Araba Modelini Giriniz : </label>
                            <input disabled id="inputCarNameDetail" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Model Yılı : </label>
                            <input disabled id="inputCarModelDetail" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Telefon Numaranız : </label>
                            <input disabled id="inputPhoneNumberDetail" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label">İl : </label>
                            <input disabled id="inputilDetail" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Plakanız : </label>
                            <input disabled id="inputPlakaDetail" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Eklemek İstediğiniz Açıklamayı Buraya Giriniz. : </label>
                            <input disabled id="inputDescriptionDetail" type="text" class="form-control" />
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">

                <div class="form-group col-md-6">
                    <button disabled id="btnSave" type="button" class="btn btn-primary">Gönder</button>
                </div>


            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Araç Randevu Sistemi</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Model.User.Name @Model.User.Surname</h6>
                <p class="card-text">Araç randevu sistemine hoş geldiniz.</p>
                <a href="/Account/Logout" class="card-link">Çıkış Yap</a>
            </div>

        </div>
        <br />
        <ul class="list-group">
            @foreach (var item in Model.Appointment)
            {
                <li data-value="@item.Id" class="list-group-item">Sn. @item.Name @item.Surname</li>
            }
            @*@foreach (var item in Model.GalleryUsers)
                {
                    <li data-value="@item.Id" class="list-group-item">Sn. @item.Name @item.Surname<button class="btn btn-sm mt-2 pull-right"></button></li>
                }*@

        </ul>


    </div>

    <div class="col-md-9">

        <div class="card">
            <div>
                @using (Html.BeginForm("get", "Profile", FormMethod.Get))
                {
                    <p style="float:right; margin-top:10px; margin-right:19px">
                        Plaka Ara: <input name="param" type="text" /> @*@Html.TextBox("p")*@

                        <input id="ara" type="submit" value="Ara" style="width:70px;" />
                    </p>

                }
                <div id="getTable">
                    <table id="get" class="table table-bordered table-striped m-1 p-1">
                        <tr>

                            <th>Kullanıcı Adı</th>
                            <th>Soyadı</th>
                            <th>Telefon Numarası</th>
                            <th>Plaka</th>

                            <th>Başlangıç Tarihi</th>
                            <th>Bitiş Tarihi</th>
                            <th>Açıklama</th>
                            <th></th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model.Appointment)
                        {

                           
                    <tr>

                        <td hidden class="carName">@item.CarName</td>
                        <td hidden class="carModel">@item.CarModel</td>
                        <td class="name">@item.Name </td>
                        <td class="surname"> @item.Surname</td>
                        <td class="phoneNumber">@item.PhoneNumber</td>
                        <td class="plaka">@item.Plaka</td>
                        <td hidden class="il">@item.il</td>
                        <td class="startDate">@item.StartDate</td>
                        <td class="endDate">@item.EndDate</td>
                        <td class="description">@item.Description</td>

                        <td>
                            <a data-id="@item.Id" class="btn btn-outline-danger btnDelete">Sil</a>
                        </td>
                        <td><button id="" type="button" class="btn btn-outline-success btnUpdate">Detay</button></td>
                    </tr>
                        }
                    </table>
                </div>   
            </div>
            <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Randevu Ekleme/Güncelleme</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <input hidden id="apointmentId" />
                                <div class="row">
                                    <div class=" col-md-2">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-control-label">Adınız : </label>
                                        <input id="inputName" type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-control-label">Soyadınız : </label>
                                        <input id="inputSurname" type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-control-label">Randevu Başlangıç Tarihi : </label>
                                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                            <input id="inputStartDate" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" />
                                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-control-label">Randevu Bitiş Tarihi : </label>
                                        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                            <input id="inputEndDate" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" />
                                            <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-control-label">Araba Modelini Giriniz : </label>
                                        <input id="inputCarName" type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-control-label">Model Yılı : </label>
                                        <input id="inputCarModel" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-control-label">Telefon Numaranız : </label>
                                        <input id="inputPhoneNumber" type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-control-label">İl : </label>
                                        <input id="inputil" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-control-label">Plakanız : </label>
                                        <input id="inputPlaka" type="text" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-control-label">Eklemek İstediğiniz Açıklamayı Buraya Giriniz. : </label>
                                        <input id="inputDescription" type="text" class="form-control" />
                                    </div>
                                    <input type="hidden" id="selectUserId" />
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">

                            <div class="form-group col-md-6">
                                <button id="btnSave" type="button" class="btn btn-primary">Gönder</button>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
               

                <div id="calendar">

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.28/moment-timezone-with-data-10-year-range.js"></script>
    <script src='~/lib/fullcalendar/core/main.js'></script>
    <script src='~/lib/fullcalendar/moment/main.js'></script>
    <script src='~/lib/fullcalendar/moment-timezone/main.js'></script>
    <script src="/lib/fullcalendar/daygrid/main.js"></script>
    <script src="~/lib/fullcalendar/timegrid/main.js"></script>
    <script src="~/lib/fullcalendar/list/main.js"></script>
    <script src="~/lib/fullcalendar/interaction/main.js"></script>
    <script src="~/lib/fullcalendar/bootstrap/main.js"></script>
    <script src="~/lib/fullcalendar/core/locales/tr.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <script>
 
        function saveAppointment(data) {

            $.ajax({
                type: 'POST',
                url: '/appointment/AddOrUpdateAppointment',
                data: data,
                success: function (response) {
                    if (response === "200") {
                        getAppointments();
                        $('#saveModal').modal('hide');
                        data.Id === "0" ? alertify.success('Randevunuz başarıyla eklendi.') : alertify.success('Randevunuz başarıyla güncellenmiştir.');
                    } else {
                        $('#saveModal').modal('hide');
                        alertify.error('Randevu eklenemedi.');
                    }
                },
                error: function () {
                    $('#saveModal').modal('hide');
                    alertify.error('Erişim sağlanamadı.');
                }
            });
        }

        $('.btnSave').click(function () {
            //validasyon
            if ($('#inputCarName').val() === "") {
                alert("Araba modeli belirtilmelidir.");
                return;
            }

            if ($('#inputCarModel').val() === "") {
                alert("Araba Model Yılı belirtilmelidir.");
                return;
            }

            var appointment = {
                Id: $('#apointmentId').val(),
                UserId: $('#selectUserId').val(),
                StartDate: $('#inputStartDate').val(),
                EndDate: $('#inputEndDate').val(),
                CarName: $('#inputCarName').val(),
                CarModel: $('#inputCarModel').val(),
                Description: $('#inputDescription').val(),
                Name: $('#inputName').val(),
                Surname: $('#inputSurname').val(),
                PhoneNumber: $('#inputPhoneNumber').val(),
                Plaka: $('#inputPlaka').val(),
                il: $('#inputil').val()
            }


            saveAppointment(appointment);
        });

        $('.btnUpdate').click(function () {
            $('#inputStartDate').val($(this).parents("tr").find(".startDate").text());
            $('#inputEndDate').val($(this).parents("tr").find(".endDate").text());
            $('#inputDescription').val($(this).parents("tr").find(".description").text());
            $('#inputCarName').val($(this).parents("tr").find(".carName").text());
            $('#inputCarModel').val($(this).parents("tr").find(".carModel").text());
            $('#inputSurname').val($(this).parents("tr").find(".surname").text());
            $('#inputPlaka').val($(this).parents("tr").find(".plaka").text());
            $('#inputPhoneNumber').val($(this).parents("tr").find(".phoneNumber").text());
            $('#inputName').val($(this).parents("tr").find(".name").text());
            $('#inputil').val($(this).parents("tr").find(".il").text());
            $('#saveModal').modal();
           
        });

        $('.btnDelete').click(function () {
            if (confirm('Randevuyu silmek istediğinize emin misiniz?')) {
                var id = $(this).data("id");
                var btn = $(this);
                $.ajax({
                    type: 'GET',
                    url: '/appointment/DeleteAppointment/' + id,
                    success: function (response) {
                        if (response === '200') {
                            btn.parent().parent().remove();
                            alertify.success('Randevunuz silinmiştir.');
                        }
                    },
                    error: function () {

                        alertify.error('Randevunuz silinirken bir problem oluştu.');
                    }
                });
            }
        });
    </script>
}